 /* Importar tipografía local */
 @font-face {
    font-family: 'RacingSansOne';
    src: url('./assets/fonts/RacingSansOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* Fuente remota desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Fuente Roboto desde Google */

/* Aplicación de las fuentes */
body {
    font-family: 'MiFuenteLocal', 'Roboto', Arial, sans-serif; /* Prioridad: fuente local, luego Roboto, y por último Arial */
}

/* Definición de los colores del tema */
:root {
    --primary-color: #D8232A; /* Color principal (rojo) */
    --secondary-color: #1D1D1D; /* Color secundario (negro) */
    --text-color: #FFFFFF; /* Color del texto (blanco) */
    --background-color: #F4F4F4; /* Color de fondo (gris claro) */
}

/* Aplicar colores del tema al cuerpo */
body {
    background-color: var(--background-color); /* Fondo del cuerpo */
    color: var(--text-color); /* Color del texto */
}
